/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

ul.wp-block-blocks-course-latest-posts {

	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: (3, 1fr);
	gap: 30px;

}
